<div *ngIf="!listOfQuestions">
  <div class="alert alert-warning" role="alert">
    <strong>Warning!</strong> No questions found.
  </div>
</div>
<div *ngIf="listOfQuestions">
  <question
    [question]="this.listOfQuestions.content[questionNumber]"
    (nextQuestion)="nextQuestion($event)"
  ></question>
  <div *ngIf="showResult"
       class="bg-green-500 p-4 rounded-md mt-4">
    <div class="alert alert-success text-white" role="alert">
      <strong>Success!</strong> You have completed the quiz.
    </div>
    <div class="flex justify-center">
      <button class="btn btn-primary text-white" (click)="restartQuiz()">Restart Quiz
      </button>
    </div>
  </div>
  <div *ngIf="showResult==false"
  class="bg-red-500 p-4 rounded-md mt-4">
<div class="alert alert-success text-white" role="alert">
  <strong>Sorry!</strong> You did not successfully complete the quiz.
</div>
<div class="flex justify-center">
 <button class="btn btn-primary text-white" (click)="restartQuiz()">Restart Quiz
 </button>
</div>
</div>
</div>

